.classic
  display: grid
  grid-template: min-content 1fr / 1fr
  grid-gap: var(--main-gap)
  width: 100%
  height: 100%
  @media (max-width: 992px)
    grid-template: min-content / 1fr
    height: auto
.classic-header
  width: 100%
  height: 20rem
  border-radius: 1rem
  background-color: var(--bg-b)
  @media (max-width: 992px)
    display: none

.classic-game
  display: grid
  grid-template: min-content min-content 1fr min-content / 1fr
  width: 100%
  height: 100%
  background-color: var(--bg-b)
  border-radius: 1rem 1rem 0 0
  padding: 1.2rem 1.5rem 0
  overflow: hidden
  @media (max-width: 992px)
    padding: 0 1rem
    background-color: transparent
.classic-round
  position: relative
  width: 100%
  height: 8.5rem
  @media (max-width: 992px)
    display: none
  &:before
    position: absolute
    content: ''
    top: 0
    width: 100%
    height: .6rem
    background: linear-gradient(90deg, var(--bg-b) 0%, #2e2f5b 25%, #3b3b5a 50%, #2e2f5b 75%, var(--bg-b) 100%)
    box-shadow: 0 0 1.5rem 0 rgba(34, 60, 80, 0.2)
  &:after
    position: absolute
    content: ''
    bottom: 0
    width: 100%
    height: .6rem
    background: linear-gradient(90deg, var(--bg-b) 0%, #2e2f5b 25%, #3b3b5a 50%, #2e2f5b 75%, var(--bg-b) 100%)
    box-shadow: 0 0 1.5rem 0 rgba(34, 60, 80, 0.2)

.classic-round-shadow
  position: absolute
  width: 100%
  height: 100%
  background: linear-gradient(90deg, var(--bg-b) 0%, transparent 25%, transparent 75%, var(--bg-b) 100%)
  box-shadow: 0 0 1.5rem 0 rgba(34, 60, 80, 0.2)
  z-index: 2

.classic-roulette
  position: relative
  display: grid
  place-items: center
  place-content: center
  width: 100%
  height: 100%
  overflow: hidden
  &__arrow
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    width: 100%
    height: 8.5rem
    z-index: 2

.classic-roulette-users
  display: grid
  grid-auto-flow: column
  place-items: center
  place-content: start
  grid-gap: 0 .4rem
  width: 100%
  height: 100%
  overflow: hidden

.classic-roulette-user
  width: 6.5rem
  height: 6.5rem
  padding: .4rem
  border-radius: 1rem
  background-color: #27274d
  overflow: hidden
  animation: test1 100s linear infinite
  & img
    width: 100%
    height: 100%
    border-radius: 1rem
    object-fit: cover

@keyframes test1
  0%
    transform: translateX(0rem)
  100%
    transform: translateX(-100rem)

.classic-timer
  display: grid
  place-items: center
  width: 23.8rem
  height: 6.7rem
  font-size: 2.4rem
  color: #fff
  border-radius: 0 0 3rem 3rem
  background-color: #27274d
  border: .2rem solid #363659
  border-top-width: 0
  @media (max-width: 992px)
    display: none

.classic-stat
  display: grid
  grid-template: min-content / min-content 1fr
  grid-gap: 0 1.5rem
  width: 100%
  height: 7.5rem
  margin-bottom: 0.7rem
  margin-top: 0.3rem
  @media (max-width: 1250px)
    height: 7rem
  @media (max-width: 992px)
    display: none

.classic-count
  display: grid
  grid-template: 1fr / 1fr min-content 1fr
  grid-gap: 0 3.3rem
  align-items: center
  justify-content: center
  width: 30rem
  height: 7.5rem
  background-color: #2e2f5b
  border-radius: 1rem
  overflow: hidden
  @media (max-width: 1250px)
    grid-gap: 0
    width: 20rem
    height: 5rem
  &__delimiter
    width: .1rem
    height: 3.5rem
    background-color: #201f44

.classic-history
  display: grid
  grid-template: min-content / min-content 1fr
  grid-gap: 0 1.5rem
  width: 100%
  height: 7.5rem
  background-color: #1a1c3f
  @media (max-width: 1250px)
    height: 5rem

.classic-bank
  display: grid
  grid-template: repeat(2, min-content) / repeat(2, min-content)
  grid-template-areas: 'icon label' 'icon value'
  place-content: center
  grid-gap: .1rem .6rem
  height: 7.5rem
  padding: 0 3.5rem
  background-color: #50a869
  border-radius: 1rem
  @media (max-width: 1250px)
    grid-template: repeat(2, min-content) / min-content
    grid-template-areas: 'value' 'label'
    place-items: center
    height: 5rem
    padding: 0 1.5rem
  &__icon
    grid-area: icon
    @media (max-width: 1250px)
      display: none
  &__label
    grid-area: label
    font-size: 1.2rem
    font-weight: 700
    text-transform: uppercase
    color: #fff
  &__value
    grid-area: value
    font-size: 1.6rem
    font-weight: 700
    color: #fff

.classic-past
  position: relative
  display: grid
  align-items: center

.classic-past-shadow
  position: absolute
  width: 100%
  height: 100%
  background: transparent
  background: linear-gradient(90deg, transparent 70%, var(--bg-b) 90%)

.classic-past-history
  position: absolute
  right: 0
  width: 3.6rem
  height: 3.6rem
  background-color: #31325a
  border-radius: .5rem
  cursor: pointer

.classic-past-games
  display: grid
  grid-auto-flow: column
  grid-auto-columns: min-content
  grid-gap: 0 1rem
  align-content: center
  width: 100%
  height: 3.5rem
  overflow: hidden
  &__game
    display: grid
    place-items: center
    height: 3.5rem
    font-size: 1.6rem
    font-weight: 500
    color: #fff
    text-transform: uppercase
    padding: 0 1.4rem
    border-radius: 1rem
    background-color: #999
    &-red
      background-color: #ba3b3b
    &-green
      background-color: #50a869
    &-gold
      background-color: #e1a400
    &-purple
      background-color: #401878

.classic-scroll-wrapper
  height: calc(100vh - (var(--header-height) + var(--main-gap) + var(--footer-height) + 20rem + var(--main-gap) + 1.5rem + 8.5rem + 10rem + 3.2rem))
  overflow: hidden
  overflow-y: scroll
  margin-top: 1rem
  @media (max-width: 1250px)
    height: calc(100vh - (var(--header-height) + var(--main-gap) + var(--footer-height) + 20rem + var(--main-gap) + 1.5rem + 5rem + 10rem + 3.2rem))
  @media (max-width: 992px)
    height: 35rem
    margin-top: 0
    margin-bottom: 5rem
  &::-webkit-scrollbar
    width: 0
  & .simplebar-track.simplebar-vertical
    width: 0.5rem
  & .simplebar-scrollbar:before
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #393a61
    width: 0.5rem
    border-radius: 1rem

.classic-bets
  display: grid
  grid-gap: 1.5rem 0
  margin-right: .7rem
  @media (max-width: 1250px)
    grid-gap: 1rem 0

.classic-bet
  position: relative
  display: grid
  grid-template: min-content / repeat(3, min-content) 1fr
  align-content: center
  align-items: center
  justify-content: start
  grid-gap: 0 2rem
  width: 100%
  height: 8.4rem
  margin-left: .3rem
  padding: 0 5rem 0 2rem
  background-color: #27274d
  border: .1rem solid #3f4370
  border-radius: 1rem
  color: #fff
  @media (max-width: 1250px)
    grid-template: min-content / repeat(3, min-content)
    justify-content: space-between
    grid-gap: 0 1rem
    height: 6rem
  &__avatar
    width: 5rem
    height: 5rem
    border-width: .3rem
    border-style: solid
    border-color: inherit
    border-radius: 50%
    overflow: hidden
    cursor: pointer
    & img
      width: 100%
      height: 100%
      object-fit: cover
  &__bet
    display: grid
    place-items: center
    width: 10rem
    height: 3.5rem
    border-width: .1rem
    border-style: solid
    border-color: inherit
    border-radius: 1rem
    font-size: 1.6rem
    font-weight: 300
    color: inherit
  &__status
    display: grid
    place-items: center
    width: 12rem
    height: 3.5rem
    background-color: #3f4370
    border-radius: 1rem
    font-size: 1.4rem
    font-weight: 400
    color: #fff
    text-transform: uppercase
    @media (max-width: 1250px)
      display: none
  &__percent
    display: grid
    place-items: center
    width: 8rem
    height: 3.5rem
    background-color: #202046
    border-radius: 1rem
    font-size: 1.6rem
    font-weight: 300
    color: #fff
    @media (max-width: 1250px)
      width: 9rem
  &__items
    display: grid
    grid-template-rows: 7rem
    grid-auto-flow: column
    justify-content: end
    width: 100%
    margin-right: 2rem
    @media (max-width: 1250px)
      display: none
  &__item
    height: 100%
    background: radial-gradient(circle, white -150%, rgba(0, 0, 0, 0) 40%)
    & img
      height: 100%
  &__more-items
    position: absolute
    display: grid
    place-content: center
    top: 0
    right: 0
    background-color: #3f4370
    height: 100%
    min-width: 4rem
    padding: 0 5px
    font-size: 1.8rem
    color: white
    border-radius: 0 1rem 1rem 0
    cursor: pointer
    @media (max-width: 1250px)
      display: none

  &-winner
    //background: linear-gradient(90deg, #27274d 0%, #50a869 100%)
    box-shadow: 0 0 5px 1px rgba(80, 168, 105, 0.35)
    border: .1rem solid #50a869
    color: #50a869
    & .classic-bet__status
      background-color: #50a869
  &-loser
    //background: linear-gradient(90deg, #27274d 0%, #ba3b3b 100%)
    box-shadow: 0 0 5px 1px rgba(186, 59, 59, 0.35)
    border: .1rem solid #ba3b3b
    color: #ba3b3b
    & .classic-bet__status
      background-color: #ba3b3b

.classic-hash
  display: grid
  place-items: center
  width: calc(100% + 3.5rem)
  transform: translateX(-1.6rem)
  height: 4rem
  font-size: 1.1rem
  font-weight: 300
  text-align: center
  color: #6d6c7b
  background: radial-gradient(circle, #2e2f5b 0%, var(--bg-b) 50%)
  box-shadow: 1px -10px 15px -8px rgb(0 0 0 / 60%)
  overflow-x: hidden
  z-index: 2
  @media (max-width: 992px)
    position: fixed
    bottom: 6rem
  @media (max-width: 424px)
    font-size: .9rem
