.dev
  font-size: 1.2rem
  color: #fff
  display: grid
  place-items: center
  height: 1.9rem
  padding: 0 1.5rem
  background-color: coral
  border-radius: 5rem
  white-space: nowrap
  cursor: pointer
  &:hover
    background-color: darken(coral, 10%)


#body > main > div[name]:not(.show)
  opacity: 0
  position: relative
  z-index: -1
  pointer-events: none
  overflow: hidden
  height: 0
  padding-top: 0
  padding-bottom: 0
  margin-top: 0
  margin-bottom: 0

#crash__round__multiplier__context
  display: flex
  width: 100%
  height: 100%
  justify-content: center
  align-items: center
  font-size: 44pt
  color: white

body[page_open]:not([page_open="crash"]) .control #multipliers_for_crash
  display: none

body[page_open]:not([page_open="classic__type_main"]) .control #multipliers_for_classic
  display: none

#multipliers_for_crash[data-player_bet_status]
  &:not([data-player_bet_status="in_game"]) #crash__bets__back
    display: none

  &[data-player_bet_status="in_game"] #crash__bets__send
    display: none
