.market
  position: absolute
  display: grid
  grid-template: 3.5rem 1fr 12.5rem / 1fr
  grid-gap: 2rem 0
  width: 53rem
  height: calc(var(--vv_height) - (var(--header-height) + var(--footer-height) + var(--main-gap)) + 1rem)
  top: 0
  left: -53rem
  padding: 2rem
  border-radius: 1rem
  background-color: #171b3a
  transition: left .2s
  z-index: 4
  @media (max-width: 992px)
    grid-template: 3.5rem 1fr 10.5rem/1fr
    width: 100%
    left: -100%
    position: fixed
    top: 4rem
    border-radius: 0

  &_active
    left: 0
    box-shadow: .5rem .5rem 1.5rem 0 #000

  &__close
    position: absolute
    top: 2rem
    right: 2rem
    cursor: pointer

  &__title
    font-size: 1.8rem
    color: #fff
    text-transform: uppercase

  &__items
    border-radius: .5rem
    background-color: #1b1e40

  &__filter
    display: grid
    grid-template: 4.5rem / repeat(3, 1fr)
    grid-gap: 0 .2rem
    margin: 1rem 1rem 2rem
    border-radius: .5rem
    overflow: hidden

  &__items-wrapper
    width: 100%
    height: calc(var(--vv_height) - 40.5rem)
    background-color: #1b1e3f
    overflow: hidden
    overflow-y: scroll

    &::-webkit-scrollbar
      width: 0

    & .simplebar-track.simplebar-vertical
      background-color: #2e2f5b
      border-radius: 1rem
      width: 0.5rem
      height: 90%
      transform: translateY(5%)

    & .simplebar-scrollbar:before
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: #393a61
      width: 0.5rem
      border-radius: 1rem

  &__counter
    display: grid
    grid-template: repeat(2, 1fr) / repeat(3, 1fr)
    grid-gap: 2rem

.filter
  display: grid
  grid-template: 4.5rem/ 1fr 4.5rem 1fr
  place-items: end
  grid-gap: 0 0.2rem
  margin: 1rem 1rem 2rem
  &-input
    width: 100%
    position: relative
    &:before
      position: absolute
      color: #bbb
      left: 1rem
      top: -1.6rem
      content: 'По названию'
  &__input
    height: 3.5rem
    width: 100%
    border: 2px solid #2e2f5b
    border-radius: 1rem
    background-color: #202046
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%) inset
    font-size: 1.6rem
    color: #fff
    text-align: center
    outline: none

  &__btn
    display: grid
    justify-content: center
    place-content: center
    padding: 0
    margin: 0
    border: none
    width: 4.5rem
    height: 4.5rem
    background-color: transparent
    cursor: pointer

    opacity: 0
    pointer-events: none


.filter-number
  position: relative
  height: 3.5rem
  width: 100%
  display: grid
  grid-template: 100% / min-content 1fr min-content
  @media (max-width: 374px)
    grid-template: 100% / 1fr
  &:before
    position: absolute
    color: #bbb
    left: 1rem
    top: -1.6rem
    content: 'По цене от'

  &__btn
    border: none
    padding: 0
    margin: 0
    width: 3.5rem
    height: 3.5rem
    background-color: #27a15b
    color: white
    font-size: 1.6rem
    font-weight: 600
    cursor: pointer
    &:first-child
      border-radius: 1rem 0 0 1rem
    &:last-child
      border-radius: 0 1rem 1rem 0
    @media (max-width: 374px)
      display: none
  &__input
    width: 100%
    border: 2px solid #27a15b
    border-radius: 0
    background-color: #202046
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%) inset
    font-size: 1.6rem
    color: #fff
    text-align: center
    outline: none
    @media (max-width: 374px)
      border-radius: 1rem
    // Убираем стрелочки у input
    &::-webkit-outer-spin-button
      -webkit-appearance: none
      margin: 0
    &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0
    &[type=number]
      -moz-appearance: textfield

.buy
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
  grid-gap: 1rem
  width: 100%
  height: 100%
  padding: 1rem
  margin: 0

  &__item
    display: grid
    grid-template-columns: 11rem
    grid-auto-rows: 6rem 1.6rem 1.4rem 1rem 1rem
    list-style: none
    place-items: center
    place-content: center
    padding: .5rem 0
    margin: 0
    width: auto
    height: 12rem
    border-radius: 1rem
    background-color: #202245
    cursor: pointer
    transition: box-shadow .2s

    &-selected
      box-shadow: 0 0 1rem rgb(0 0 0 / 25%), 0 0 1rem #50a869 inset

    & img
      width: calc(100% - 2rem)

    &-price
      font-size: 1.1rem
      font-weight: 600
      color: #27a15b
      padding: 0 1rem

    &-name
      width: 100%
      font-size: .9rem
      font-weight: 300
      color: #fff
      padding: 0 1rem
      white-space: nowrap
      overflow: hidden
      text-align: center
      text-overflow: ellipsis

    &-label
      width: 100%
      font-size: .9rem
      font-weight: 200
      color: #fff
      padding: 0 1rem
      white-space: nowrap
      overflow: hidden
      text-align: center
      text-overflow: ellipsis

    &-state
      width: 100%
      font-size: .9rem
      font-weight: 200
      color: #fff
      padding: 0 1rem
      white-space: nowrap
      overflow: hidden
      text-align: center
      text-overflow: ellipsis

.counter
  display: grid
  place-content: center
  place-items: center
  border-radius: 1rem
  background-color: #25284f
  color: #fff
  text-transform: uppercase

  &-green
    color: #27a15b

  &-red
    color: #ba3b3b

  &-btn
    grid-row: 2 / 3
    grid-column: 1 / 3
    display: grid
    place-items: center
    border: none
    outline: none
    border-radius: 1rem
    background-color: #27a15b
    cursor: pointer
    font-size: 1.6rem
    color: #fff
    text-transform: uppercase

    &:hover
      background-color: darken(#27a15b, 5%)

    &:active
      background-color: darken(#27a15b, 10%)

  &-refresh
    grid-row: 2 / 3
    grid-column: 3 / 4
    display: grid
    place-items: center
    border: none
    outline: none
    border-radius: 1rem
    background-color: #27a15b
    cursor: pointer

    &:hover
      background-color: darken(#27a15b, 5%)

    &:active
      background-color: darken(#27a15b, 10%)

  & div
    &:first-child
      font-size: 1.4rem
      font-weight: 600

    &:last-child
      font-size: 1.2rem
      font-weight: 300

#inv__market_button__main
  padding: 0
  overflow: hidden
  position: relative
  & > span
    display: flex
    width: 100%
    height: 100%
    justify-content: center
    align-items: center
    opacity: 0
    position: absolute
    transition: 200ms opacity cubic-bezier(0, 0, 0.2, 1)

  & [data-market_button="buy"]
    opacity: 1
    background-color: #27a148
  &:not([data-inv_play__selected="0.00"]) [data-market_button="sell"]
    opacity: 1
    background-color: #ba3b3ce0
  &:not([data-selected="0.00"]):not([data-inv_play__selected="0.00"]) [data-market_button="change"]
    opacity: 1
    background-color: #411878

